@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0.4rem auto;
  max-width: 1296px;
  font-family: "Poppins", sans-serif;
  color: #282c34;
  background-color: #f7f7f7;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #282c34;
  cursor: pointer;
}

a:visited {
  color: #282c34;
}

.logo {
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: url(../../assets/main.jpg) center/cover;
  height: 125px;
  width: 300px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(51, 51, 51, 0.5);
          box-shadow: 2px 2px 2px 0px rgba(51, 51, 51, 0.5);
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
}

.logo:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.logo img {
  height: 60px;
  width: 60px;
}

.news-container h1 {
  text-align: center;
  margin-bottom: 10px;
}

.news-container form {
  display: -ms-grid;
  display: grid;
  min-width: 400px;
  text-align: center;
  width: 50%;
  max-width: 600px;
  margin: 0 auto;
}

.news-container form input,
.news-container form textarea {
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #61dafb;
  resize: none;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.news-container form textarea {
  height: 80px;
}

.news-container form p {
  font-size: 0.8rem;
  color: red;
}

.news-container form input[type='submit'] {
  width: 200px;
  margin-left: auto;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #61dafb;
}

.news-container form input[type='submit']:hover {
  background: #282c34;
  color: white;
}

.article {
  margin: 10px 50px;
  background: white;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px;
}

.article .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px 0 10px;
}

.article .card-header em {
  font-size: 0.8rem;
}

.article p {
  font-size: 0.9rem;
}

.article textarea {
  width: 100%;
  resize: none;
  height: 70px;
  outline: none;
}

.article .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0 5px;
}

.article .btn-container button {
  width: 70px;
  height: 20px;
  font-size: 0.7rem;
  margin: 0 2px;
  cursor: pointer;
}

.article .btn-container button:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}
/*# sourceMappingURL=index.css.map */